<p>
  Hello <%= @guide.name %>,
</p>
<p>
  Tour - <%= @tour.title %> is booked by <%= @user.name %>
</p>
<p>
  <h2>Booking Details:</h2>
  <ul>
    <li>Number of people: <%= @booking.number_of_people %></li>
    <li>Contact email: <%= @booking.contact_email %></li>
  </ul>
</p>
